<body>
  <section>
    <h1>Home</h1>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a><br><br>
    <form action="/auth/logout" method="post">
      <button type="submit">
        Logout
      </button>
    </form>
  </section>
</body>
